<div class="home-page">
  <h1>ʜᴏᴍᴇ ᴘᴀɢᴇ</h1>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">ᴀʙᴏᴜᴛ</a>
  <i id="icon"  class="fas fa-search"></i>
  <a  class="f2" routerLink="/albums" routerLinkActive="active" ariaCurrentWhenActive="page">ᴀʟʙᴜᴍs</a>
  <i id="icon2" class="fa fa-camera-retro" aria-hidden="true"></i>
</div>
