<div class="about-page">
  <h1>ᴀʙᴏᴜᴛ ᴘᴀɢᴇ</h1>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">ʜᴏᴍᴇ</a>
  <i id="icon" class="fa fa-home" aria-hidden="true"></i>
  <a class="f2" routerLink="/albums" routerLinkActive="active" ariaCurrentWhenActive="page">ᴀʟʙᴜᴍs</a>
  <i id="icon2" class="fa fa-camera-retro" aria-hidden="true"></i>
  <a class="f2" (click)='alert("TG: @itzhiti")' routerLinkActive="active" ariaCurrentWhenActive="page">ᴄᴏɴᴛᴀᴄᴛ</a>
  <i id="icon3" class="fa fa-envelope" aria-hidden="true"></i>
  <div class="about-text">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
