.shop-items {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    width: 300px;
    vertical-align: top;
    flex: 1 1 300px;
}

.shop-items img {
    width: 50%;
    height: 50%;
}

.shop-items .image-container {
    overflow: hidden;
}

.shop-items .image-slider {
    display: flex;
    transition: transform 0.5s ease;
}

.star-rating {
    font-size: 2em;
    color: #ffc107;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/